html, body {
font-family:Verdana, Arial, Helvetica, sans-serif;
background:url(../imagenes/bg_main.jpg) center repeat-y fixed;
font-size:12px;
height : 100%;
min-height:100%;
margin:0;
padding:0;
}

.tableform {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

.tableform td {
padding:4px;
}

.tableform th {
background:url(../imagenes/bg_botones.jpg);
color:#fff;
text-align:left;
padding:4px;
}

.tableform2 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

.tableform2 td {
padding:4px;
background:#EAEAEA;
border:#FFFFFF solid 1px;
}

.tableform2 th {
background:url(../imagenes/bg_botones.jpg);
color:#fff;
text-align:left;
padding:4px;
}

.tableform3 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

.tableform3 td {
padding:4px;
background:#EAEAEA;
}

.tableform3 th {
background:url(../imagenes/bg_botones.jpg);
color:#fff;
text-align:left;
padding:4px;
}


.tablep {
background:#EEE;
border-collapse:collapse;
width:800px;
margin-top:5px;
margin-bottom:50px;
}

.tablep td {
border-color:#FFF;
}

.tablep th {
background:url(../imagenes/bg_botones.jpg);
font-weight:700;
height:18px;
color:#fff;
text-align:left;
border-color:#FFF;
}

able a {
color:#333;
text-decoration:none;
font-weight:700;
}

table a:hover {
text-decoration:underline;
color:#161747;
}

.headerwrap {
width:100%;
height:245px;
background:url(../imagenes/bg_header_wrap.jpg) center;
margin:auto;
}

.header {
width:1000px;
margin:auto;
}

.column1 {
width:340px;
height:245px;
float:left;
}

.logoregco {
width:220px;
height:70px;
float:right;
margin-top:100px;
}

.column2 {
width:660px;
height:245px;
float:right;
}

.botonerawrap {
width:480px;
height:100px;
margin-top:80px;
float:left;
background:url(../imagenes/marco.png);
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../imagenes/marco.png');
margin-left:20px;
}

.botonerabg {
width:460px;
height:80px;
background:url(../imagenes/bg_botonera.png) top no-repeat;
margin:10px;
}

.bgbotonera {
width:460px;
padding-top:59px;
}

.logosiez {
width:160px;
height:70px;
float:right;
background:url(../imagenes/siez_logo.png);
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../imagenes/siez_logo.png');
margin-top:10px;
}

.bodywrap {
width:100%;
padding-top:20px;
clear:both;
margin:auto;
height:100%;
height:auto;
position:relative;
min-height:100%;
display:block;
}

.bodyinfo {
width:800px;
padding-left:40px;
margin:auto;
height:100%;
min-height:100%;
}

.bodyinfo2 {
width:800px;
padding-left:40px;
margin:auto;
}

.footer {
height:50px;
text-align:center;
}

.fecha {
width:170px;
height:20px;
float:right;
}

.headerbox {
background:url(../imagenes/bg_box.png) repeat-x top #d0d0d0;
position:relative;
width:800px;
padding:30px;
height: auto;
margin-bottom:10px;
display:block;
}

.headerbox2 {
background:url(../imagenes/bg_box.png) repeat-x top;
position:relative;
width:300px;
height:100px;
padding:30px;
}

.headerbox3 {
background:url(../imagenes/bg_box.png) repeat-x top;
position:relative;
width:300px;
padding-top:15px;
padding-left:15px;
padding-right:15px;
}


.corner1 {
background:url(../imagenes/corner.png);
top:0;
right:0;
position:absolute;
width:30px;
height:30px;
}

.corner2 {
background:url(../imagenes/corner2.png);
top:0;
left:0;
position:absolute;
width:30px;
height:30px;
}

.corner3 {
background:url(../imagenes/corner3.png);
bottom:0;
right:0;
position:absolute;
width:30px;
height:30px;
}

.corner4 {
background:url(../imagenes/corner4.png);
bottom:0;
left:0;
position:absolute;
width:30px;
height:30px;
}

.corner1_v2 {
background:url(../imagenes/corner_v2.png);
top:0;
right:0;
position:absolute;
width:12px;
height:12px;
}

.corner2_v2 {
background:url(../imagenes/corner2_v2.png);
top:0;
left:0;
position:absolute;
width:12px;
height:12px;
}

.corner3_v2 {
background:url(../imagenes/corner3_v2.png);
bottom:0;
right:0;
position:absolute;
width:12px;
height:12px;
}

.corner4_v2 {
background:url(../imagenes/corner4_v2.png);
bottom:0;
left:0;
position:absolute;
width:12px;
height:12px;
}

.fontnormal {
font-weight:400;
}

input {
background:url(../imagenes/bg_input.jpg);
border:solid 1px #999;
color:#000;
}

textarea {
background:url(../imagenes/bg_textarea.jpg) repeat-x top;
border:solid 1px #999;
color:#000;
}

.bgtitle {
background:url(../imagenes/bg_botones.jpg);
font-weight:700;
height:18px;
color:#fff;
text-align:left;
}

.bgtabledown {
background:#ececec;
}

.bgfooter {
background:url(../imagenes/bg_footer.jpg) top repeat-x #FFFFFF;
width:100%;
height:50px;
bottom:0;
position: absolute;
clear:both;
display:block;
margin-top:50px;
top:128%;
}

.bgfooter_v2 {
background:url(../imagenes/bg_footer.jpg) top repeat-x #FFFFFF;
width:100%;
height:50px;
bottom:0;
position: absolute;
clear:both;
display:block;
}

.footerimage {
height:50px;
width:1000px;
background:url(../imagenes/footer.jpg);
margin:auto;
}

.tablein_1 {
height:100%;
margin-bottom:80px;
}

.bgceldas {
margin-top:20px;
}

.bgceldas td {
background:#e5e5e5;
}

.tdicons {
text-align:center;

}

.titleacceso {
font-weight:700;
text-align:center;
margin-bottom:20px;
}

.tableacceso td {
padding-bottom:7px;
}

.requerido {
color:red;
}

.olvidecontrasena {
font-size:11px;
text-align:right;
}

.inputsubmit,input[type="submit"],input[type="button"] {
background:url(../imagenes/bg_botones.jpg);
border:0;
color:#fff;
}

input[type="checkbox"],input[type="radio"] {
background:none;
border:none;
}

.tableacceso input[type="password"],.tableacceso input[type="text"] {
width:120px;
}

input[type="reset"] {
background:url(../imagenes/bg_botones.jpg);
border:0;
color:#fff;
}

.mantenimientodiv {
background:url(../imagenes/bg_mantenimiento.png)  top no-repeat;
width:705px;

}

.mantenimientodiv input {

}

.boton_usuarios {
}

.boton_usuarios:hover {
opacity: 0.2;
-moz-opacity: 0.2;
filter: alpha(opacity=60);
}

.boton_div {
text-align:left;
}

.tableregistro1 td {
margin:0;
}

iframe {
height:245px;
}

.visfrm input[type="text"]{
width:200px;
}

.checkbox_v1 {
float:left;
background: #000000;
}

.important {
color:#FF0000;
}

.casilla {
background:url(../imagenes/bg_input.jpg);
border:solid 1px #999;
color:#000;
}

.table_usuarios input[type="text"],input[type="password"] {
width:160px;
}

.table_usuarios td {
padding-bottom:5px;
}

.tabla_usuarios_2 table {
background:#EAEAEA;
border: none;
padding-left:3px;
padding-top:3px;
margin:auto;
}

.tabla_usuarios_2 table td{
background:#EAEAEA;
border:#FFFFFF solid 1px;
}

.botontemp {
width:200px;
}