<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
body {
	margin-left: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.style2 {color: #FFFFFF}
-->
</style></head>

<body>
<table width="790" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="180" height="70"><img src="../imagenes/logogoberzulia.jpg" width="180" height="70" /></td>
    <td><div align="center" class="style1">REPÚBLICA BOLIVARIANA DE VENEZUELA<br />
      GOBERNACIÓN DEL ESTADO ZULIA<br />
    SECRETARÍA DE INFRAESTRUCTURA</div></td>
    <td width="180" height="70"><img src="../imagenes/logosiez.jpg" width="180" height="70" /></td>
  </tr>
</table>
<br />
<table width="790" border="0" cellpadding="0" cellspacing="0"><tr><td width="50%"><table width="790" border="0" cellpadding="0" cellspacing="0" style="border:#666666 solid 1px; ">
  <tr>
    <th height="20" colspan="3" background="../imagenes/bg_botonesgris.jpg" class="style1 style2">&nbsp;</th>
    <th width="13%" height="20" background="../imagenes/bg_botonesgris.jpg" class="style1 style2"><div align="right">Fecha:</div></th>
    <th width="23%" height="20" background="../imagenes/bg_botonesgris.jpg" class="style1 style2">&nbsp;</th>
  </tr>
  <tr>
    <td  colspan="5" height="24"><div align="center"><strong>LISTADO DE EMPRESAS DESINCORPORADAS</strong></div></td>
    </tr>
  <tr>
    <td  colspan="3" height="24">&nbsp;</td>
    <td height="24"><div align="right">Nº</div></td>
    <td height="60">&nbsp;</td>
  </tr>
    <tr>
    <th width="18%" height="20" background="../imagenes/bg_botonesgris.jpg" class="style1 style2">Nº Inscripción</th>
    <th width="30%" background="../imagenes/bg_botonesgris.jpg" class="style1 style2">Nombre o Razón social</th>
    <th width="16%" height="20" background="../imagenes/bg_botonesgris.jpg" class="style1 style2">Siglas Empresa</th>
    <th height="20" background="../imagenes/bg_botonesgris.jpg" class="style1 style2">Nro. RIF</th>
    <th height="20" background="../imagenes/bg_botonesgris.jpg" class="style1 style2">Nro. RNC</th>
    </tr>
    <tr >
      <th height="30" class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20" class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20"  class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20"  class="style1 style2" style="border-bottom:#666666 solid 1px;">&nbsp;</th>
    </tr>
   <tr >
      <th height="30" class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20" class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20"  class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20"  class="style1 style2" style="border-bottom:#666666 solid 1px;">&nbsp;</th>
    </tr>
       <tr >
      <th height="30" class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20" class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20"  class="style1 style2" style="border-bottom:#666666 solid 1px;  border-right:#666666 solid 1px;">&nbsp;</th>
      <th height="20"  class="style1 style2" style="border-bottom:#666666 solid 1px;">&nbsp;</th>
    </tr>
  
</table>
    <p>&nbsp;</p>
</body>

</html>
